Dingtian_Relays.json
[
    {
        "id": "1dd7a4d2.0bc71b",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "Relay 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "34a8f90c.dfed16"
            ]
        ]
    },
    {
        "id": "34a8f90c.dfed16",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 257,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 400,
        "wires": [
            [
                "8a58329c.efda8"
            ]
        ]
    },
    {
        "id": "1c1a1739.e0c899",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 256,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "8a58329c.efda8"
            ]
        ]
    },
    {
        "id": "3ede0e6b.3caba2",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "Relay 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "1c1a1739.e0c899"
            ]
        ]
    },
    {
        "id": "8a58329c.efda8",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "da2dcd55.c2d2a"
            ],
            []
        ]
    },
    {
        "id": "da2dcd55.c2d2a",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "39efc19f.fa39ae",
        "type": "comment",
        "z": "63b8d2c4.c0b72c",
        "name": "Write Digital I/O (Register 2)",
        "info": "",
        "x": 200,
        "y": 360,
        "wires": []
    },
    {
        "id": "fee6a3a214bb194f",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "2746c7c77eb203b4"
            ]
        ]
    },
    {
        "id": "2746c7c77eb203b4",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 514,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 500,
        "wires": [
            [
                "1b45b679f5843322"
            ]
        ]
    },
    {
        "id": "ff9422c4c414d112",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 512,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 540,
        "wires": [
            [
                "1b45b679f5843322"
            ]
        ]
    },
    {
        "id": "776a2e35c5712787",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "ff9422c4c414d112"
            ]
        ]
    },
    {
        "id": "1b45b679f5843322",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "1d9cf9df43ee47b3"
            ],
            []
        ]
    },
    {
        "id": "1d9cf9df43ee47b3",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "b7217ccb9d9f8d55",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "c1b4d0210c8ca44a"
            ]
        ]
    },
    {
        "id": "c1b4d0210c8ca44a",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 1028,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "f8edb847fb978a02"
            ]
        ]
    },
    {
        "id": "f99dd2b7dfd4ccb9",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 1024,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "f8edb847fb978a02"
            ]
        ]
    },
    {
        "id": "4d34133a9384f78e",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "f99dd2b7dfd4ccb9"
            ]
        ]
    },
    {
        "id": "f8edb847fb978a02",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 620,
        "wires": [
            [
                "c120910b4a784646"
            ],
            []
        ]
    },
    {
        "id": "c120910b4a784646",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "4905c4ebf34c5cb0",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "d4088b42ce14d4fa"
            ]
        ]
    },
    {
        "id": "d4088b42ce14d4fa",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 2056,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            [
                "1e51b9518ca6f516"
            ]
        ]
    },
    {
        "id": "4c46f17d872709d6",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 2048,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 740,
        "wires": [
            [
                "1e51b9518ca6f516"
            ]
        ]
    },
    {
        "id": "2a4f70dc92b175cf",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "4c46f17d872709d6"
            ]
        ]
    },
    {
        "id": "1e51b9518ca6f516",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "3d6806d984150fba"
            ],
            []
        ]
    },
    {
        "id": "3d6806d984150fba",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "e4386220138244f1",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "c3be9d0443087221"
            ]
        ]
    },
    {
        "id": "c3be9d0443087221",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 4112,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "73d92079aab20608"
            ]
        ]
    },
    {
        "id": "7ebaf2b3933aa6d0",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 4096,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 840,
        "wires": [
            [
                "73d92079aab20608"
            ]
        ]
    },
    {
        "id": "8206962bdeb31910",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "7ebaf2b3933aa6d0"
            ]
        ]
    },
    {
        "id": "73d92079aab20608",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 820,
        "wires": [
            [
                "36f3a3016febde2a"
            ],
            []
        ]
    },
    {
        "id": "36f3a3016febde2a",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 820,
        "wires": []
    },
    {
        "id": "a7cdc9d977dc1263",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 900,
        "wires": [
            [
                "6bcf5e3663c0a7bb"
            ]
        ]
    },
    {
        "id": "6bcf5e3663c0a7bb",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 8224,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 900,
        "wires": [
            [
                "0b259387c13440e8"
            ]
        ]
    },
    {
        "id": "317a008ed7a22063",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 8192,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 940,
        "wires": [
            [
                "0b259387c13440e8"
            ]
        ]
    },
    {
        "id": "81558bdbd41ea2da",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 940,
        "wires": [
            [
                "317a008ed7a22063"
            ]
        ]
    },
    {
        "id": "0b259387c13440e8",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "e73147f54e55fd8a"
            ],
            []
        ]
    },
    {
        "id": "e73147f54e55fd8a",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 920,
        "wires": []
    },
    {
        "id": "3191f5d0da28540a",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "b2a7b2a1b6a5c738"
            ]
        ]
    },
    {
        "id": "b2a7b2a1b6a5c738",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 16448,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "935080e6033bd4e5"
            ]
        ]
    },
    {
        "id": "2225a8792fb38f9f",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 16384,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "935080e6033bd4e5"
            ]
        ]
    },
    {
        "id": "f46cebee1e82342d",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 7",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "2225a8792fb38f9f"
            ]
        ]
    },
    {
        "id": "935080e6033bd4e5",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "fd69328ae6f4d4f5"
            ],
            []
        ]
    },
    {
        "id": "fd69328ae6f4d4f5",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c4861f144a67f07f",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1100,
        "wires": [
            [
                "4041d0484f297a38"
            ]
        ]
    },
    {
        "id": "4041d0484f297a38",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "On",
        "func": "msg.payload = {\n    'value' : 32896,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1100,
        "wires": [
            [
                "840b0efc1deaa0c4"
            ]
        ]
    },
    {
        "id": "fa7f8b73dfaa9612",
        "type": "function",
        "z": "63b8d2c4.c0b72c",
        "name": "Off",
        "func": "msg.payload = {\n    'value' : 32768,\n    'fc' : 6,\n    'unitid' : 1,\n    'address' : 2,\n    'quantity' : 1\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1140,
        "wires": [
            [
                "840b0efc1deaa0c4"
            ]
        ]
    },
    {
        "id": "4876f22d74f7921d",
        "type": "inject",
        "z": "63b8d2c4.c0b72c",
        "name": "relay 8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "fa7f8b73dfaa9612"
            ]
        ]
    },
    {
        "id": "840b0efc1deaa0c4",
        "type": "modbus-flex-write",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "server": "98970a3050192af7",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "2e55920e0d5fd0f3"
            ],
            []
        ]
    },
    {
        "id": "2e55920e0d5fd0f3",
        "type": "debug",
        "z": "63b8d2c4.c0b72c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 1120,
        "wires": []
    },
    {
        "id": "98970a3050192af7",
        "type": "modbus-client",
        "name": "Dingtian IOT Relay",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.211",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    }
]